vendor/camera/mimoji/model2.zip
boot.img
modem.img
bootimg/16_dtbdump_gC7;.dtb
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/Music/Music.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
